<div class="company-block">
  <div class="company-words">
    <h2 class="company-name">{{companyName}}</h2>
    <p class="company-blurb">
      {{companyContent}}
    </p>
    <h4 class="learn-more">Want to learn more? Visit:</h4>
      <p class="company-website">
        <a href={{fullURL}} target="_blank">{{niceURL}}</a>
      </p>
  </div>
  <div class="img-block">
    <img src="{{imagePath}}">
  </div>
</div>
